<nav class="nav-bar"> 
    <div class="logo">
        <a href="/">myPortfolio</a>
    </div> 
    <ul class="nav-links"> 
        <li class="nav-items">
            <a href="about">About Me</a>
        </li> 
        <li class="nav-items">
            <a href="experience">Experience</a>
        </li> 
        <li class="nav-items">
            <a href="projects">Projects</a>
        </li> 
        <li class="nav-items">
            <a href="contacts">Contacts</a>
        </li> 
    </ul> 
</nav>
<hr>